.container{
    width: 400px;
    min-height: 40px;
    margin:auto;
    text-align: center;
}

h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}