h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.timer{
    width: 400px;
    min-height: 20px;
    margin:10px auto;
    text-align: center;

}